@font-face {
  font-family: "gt bold";
  src: url(./fonts/gt-bold.woff2) format('woff');
  font-weight: bold;
}
@font-face {
  font-family: "gt";
  src: url(./fonts/gt-regular.woff2) format('woff');
  font-weight: normal;
}
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gt", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
#root {
  height: 100%;
}
h1 {
  font-family: "gt bold", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

section {
  padding: 80px 10px;
}